@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

--root {
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  height: 100%;
}

body {
  display: flex;
  background-color: #e5e7eb;
}

main {
  height: 100%;
  width: 100%;
}

.icon {
  filter: invert(100%);
  width: 25px;
  height: 25px;
}

.icon.black-color {
  filter: invert(0%);
}

.logo .icon {
  width: 40px;
  height: 40px;
}

/* Side bar */
.sidebar {
  display: flex;
  background-color: #0ea5e9;
  color: white;
  font-weight: bold;
  flex-direction: column;
  padding: 25px;
  width: 290px;
  height: 100%;
}

.logo {
  margin-bottom: 16px;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

ul.menu-options {
  list-style-type: none;
  padding-left: 1%;
  margin-bottom: 33px;
}

li.option {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

li.option:not(:last-child) {
  margin-bottom: 15px;
}

/* Navbar */
.navbar {
  padding: 10px;
  align-content: center;
  display: flex;
  flex-direction: column;
  box-shadow: 15px -11px 25px;
  background-color: #f1f5f9;
}

.topbar,
.botbar {
  display: flex;
  margin-left: 40px;
}

.topbar {
  gap: 10%;
}

.botbar {
  gap: 30%;
}

.info-1,
.info-2,
.actions,
.search {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search-box {
  border-radius: 12px;
  border-style: solid;
  border-color: gainsboro;
  background-color: gainsboro;
  height: 20px;
  width: 100vh;
  max-width: 100%;
}

img.profile-picture {
  width: 50px;
  max-width: 100%;
  height: 50px;
  border-radius: 40px;
}

img.bigger {
  width: 75px;
  height: 75px;
}

.info-2 p {
  font-weight: bolder;
}

.actions button {
  background-color: #067bb2;
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px 40px;
  border-radius: 20px;
}

/* Main Content */
.board {
  width: 100%;
  display: grid;
  grid-template-columns: 22rem 22rem 20rem;
  grid-template-rows: 50px repeat(6, 100px);
  padding: 10px 0px 10px 35px;
  gap: 20px;
}

p.announcements-title,
p.projects-title {
  font-weight: bold;
  font-size: 1.2rem;
}

p.announcements-title {
  grid-column: span 1 / 4;
}

.box {
  display: flex;
  flex-direction: column;
  border-left: solid #f59e0b 6px;
  border-radius: 6px;
  background-color: #f1f5f9;
  padding: 20px 15px 20px 15px;
  box-shadow: 0px 0px 7.5px;
  grid-row: span 2;
  gap: 30%;
}

.box .title {
  position: absolute;
  top: 10px;
  left: 30px;
}

.box.announcements,
.box.trending {
}

.announcements {
  grid-row: span 3;
}

.trending {
  grid-row: span 3;
}

.project-info div {
  display: flex;
  align-items: center;
  gap: 20px;
}

.box p {
  font-size: 0.7rem;
  font-weight: lighter;
}

.box h4 {
  margin: 1px;
}

.box .actions {
  align-self: end;
}
